<!DOCTYPE html>
<html lang="en">
  <head>
    <title>OSA - St.Joseph's College of Engineering</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="css/animate.css">
    
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">

    <link rel="stylesheet" href="css/aos.css">

    <link rel="stylesheet" href="css/ionicons.min.css">
    
    <link rel="stylesheet" href="css/flaticon.css">
    <link rel="stylesheet" href="css/icomoon.css">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
	  <div class="bg-top navbar-light">
    	<div class="container">
    		<div class="row no-gutters d-flex align-items-center align-items-stretch">
    			<div class="col-md-4 d-flex align-items-center py-4">
    				<a class="navbar-brand" href="/">OSA <span>St.Joseph's College of Engineering</span></a>
    			</div>
	    		<div class="col-lg-8 d-block">
		    		<div class="row d-flex">
					    <div class="col-md d-flex topper align-items-center align-items-stretch py-md-4">
					    	<div class="icon d-flex justify-content-center align-items-center"><span class="icon-paper-plane"></span></div>
					    	<div class="text">
					    		<span>Email</span>
						    	<span>osasjce@gmail.com</span>
						    </div>
					    </div>
					    <div class="col-md d-flex topper align-items-center align-items-stretch py-md-4">
					    	<div class="icon d-flex justify-content-center align-items-center"><span class="icon-phone2"></span></div>
						    <div class="text">
						    	<span>Call</span>
						    	<span>Call Us: +91 9841542888</span>
						    </div>
					    </div>
					    <div class="col-md topper d-flex align-items-center justify-content-end">
					    	<p class="mb-0">
					    		<a href="/contact" class="btn py-2 px-3 btn-primary d-flex align-items-center justify-content-center">
					    			<span>Contact us</span>
					    		</a>
					    	</p>
					    </div>
				    </div>
			    </div>
		    </div>
		  </div>
    </div>
	  <nav class="navbar navbar-expand-lg navbar-dark bg-dark ftco-navbar-light" id="ftco-navbar">
	    <div class="container d-flex align-items-center px-4">
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="oi oi-menu"></span> Menu
	      </button>
	      <!-- <form action="#" class="searchform order-lg-last">
          <div class="form-group d-flex">
            <input type="text" class="form-control pl-3" placeholder="Search">
            <button type="submit" placeholder="" class="form-control search"><span class="ion-ios-search"></span></button>
          </div>
        </form> -->
	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav mr-auto">
	        	<li class="nav-item "><a href="/" class="nav-link pl-0">Home</a></li>
	        	<li class="nav-item"><a href="/about" class="nav-link">About</a></li>
				<!-- <li class="nav-item"><a href="courses.html" class="nav-link">Courses</a></li> -->
				<li class="nav-item active"><a href="/events" class="nav-link">Events</a></li>
	        	<li class="nav-item"><a href="/office" class="nav-link">Office Bearers</a></li>
	          <li class="nav-item"><a href="/contact" class="nav-link">Contact</a></li>
	        </ul>
	      </div>
	    </div>
	  </nav>
    <!-- END nav -->
    
    <section class="hero-wrap hero-wrap-2" style="background-image: url('images/image_6.jpg');">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-2 bread">Events</h1>
            <h3 class="mb-2 bread">2014-15</h3>
            <p class="breadcrumbs"><span class="mr-2"><a href="/events">Events <i class="ion-ios-arrow-forward"></i></a></span> <span>2014-15 <i class="ion-ios-arrow-forward"></i></span></p>
          </div>
        </div>
      </div>
    </section>

		
		<section class="ftco-section bg-light">
			<div class="container">
				<div class="row">
                   <div class="col-md-6 col-lg-4 ftco-animate">
            <div id="accordion">
              <div class="card blog-entry">
                <a class="block-20 d-flex align-items-end" style="background-image: url('images/osa photos/14-15/intra chapter quiz/3.jpg');">
                  <div class="meta-date text-center p-2">
                    <span class="day">08</span>
                    <span class="mos">August</span>
                    <span class="yr">2014</span>
                  </div>
                </a>
                  <div class="card-header" role="tab" id="peterhead">
                  <h3 class="mb-0">
                    <div class="text bg-white p-4">
                      <h3 class="heading text-center"><a href="#">Intra Chapter Activity</a></h3>
                      <div class="d-flex align-items-center mt-4">
                        <p class="mb-0 offset-1"><a  class="collapsed btn btn-primary " data-toggle="collapse" data-target="#peter1">Know about this event<span class="ion-ios-arrow-round-forward"></span></a></p>
                        
                      </div>
                    </div>
                     
              </div>
              <div class="collapse" id="peter1" data-parent="#accordion">
                  <div class="card-body">
                      <p class=" d-sm-block" style="text-align: justify;">An intra chapter competition for the newly recruited OSA members was held on 8th August, 2014 to kick start their activities with the OSA student chapter. The members were asked to do a five minute demonstration or seminar on any optics related field. The members were asked to divide themselves into groups of  3-4 and select a topic which gives them an understanding of the basics of optics ,at the same time in accordance with the latest trends in optics. More than 50 members actively participated with out-of-the-box demonstrations, experiments, presentations and videos. </p>
                
                  </div>
              </div>
          </div>
          </div>
          </div>
          <div class="col-md-6 col-lg-4 ftco-animate">
            <div id="accordion">
              <div class="card blog-entry">
                <a class="block-20 d-flex align-items-end" style="background-image: url('images/osa photos/14-15/school visit/5.jpg');">
                  <div class="meta-date text-center p-2">
                    <span class="day">12</span>
                    <span class="mos">September</span>
                    <span class="yr">2014</span>
                  </div>
                </a>
                  <div class="card-header" role="tab" id="peterhead">
                  <h3 class="mb-0">
                    <div class="text bg-white p-4">
                      <h3 class="heading text-center"><a href="#">School Visit</a></h3>
                      <div class="d-flex align-items-center mt-4">
                        <p class="mb-0 offset-1"><a  class="collapsed btn btn-primary " data-toggle="collapse" data-target="#peter2">Know about this event<span class="ion-ios-arrow-round-forward"></span></a></p>
                        
                      </div>
                    </div>
                     
              </div>
              <div class="collapse" id="peter2" data-parent="#accordion">
                  <div class="card-body">
                      <p class=" d-sm-block" style="text-align: justify;">The winners of the Power point presentation competition along with few of the 3rd Year Members were taken to the Pennial Matriculation Higher Secondry School on 12th September 2014 for a School visit. The Chapter members explained the Optical Kit to the 9th grade school students. Around 150 students were gathered and gave their enthusiastic response while our chapter members were explaining the school kit.The efforts taken by the chapter was much appreciated by the Principal of that School.</p>
                   
                  </div>
              </div>
          </div>
          </div>
          </div>
          <div class="col-md-6 col-lg-4 ftco-animate">
            <div id="accordion">
              <div class="card blog-entry">
                <a class="block-20 d-flex align-items-end" style="background-image: url('images/osa photos/14-15/sympo/7.jpg');">
                  <div class="meta-date text-center p-2">
                    <span class="day">30</span>
                    <span class="mos">September</span>
                    <span class="yr">2014</span>
                  </div>
                </a>
                  <div class="card-header" role="tab" id="peterhead">
                  <h3 class="mb-0">
                    <div class="text bg-white p-4">
                      <h3 class="heading text-center"><a href="#">Symposium</a></h3>
                      <div class="d-flex align-items-center mt-4">
                        <p class="mb-0 offset-1"><a  class="collapsed btn btn-primary " data-toggle="collapse" data-target="#peter3">Know about this event<span class="ion-ios-arrow-round-forward"></span></a></p>
                        
                      </div>
                    </div>
                     
              </div>
              <div class="collapse" id="peter3" data-parent="#accordion">
                  <div class="card-body">
                      <p class=" d-sm-block" style="text-align: justify;">The national level technical symposium of St. Joseph’s College of Engineering-“KERNEL 2K14” was held on 30th September 2014 within the college premises. The OSA Student Chapter of the college held both an educational outreach program and a treasure hunt.</p>
                      <p>The outreach benefitted over 200+ college goers. Many questions were posed by the participants and our adept chapter members cleared the doubts.Top 2 teams who got the maximum number of points were adjudged as the winners and were rewarded with Cash Prizes of ₹2500 and ₹2000 respectively.  </p>
                       
                  </div>
              </div>
          </div>
          </div>
          </div>
          <div class="col-md-6 col-lg-4 ftco-animate">
            <div id="accordion">
              <div class="card blog-entry">
                <a class="block-20 d-flex align-items-end" style="background-image: url('images/osa photos/14-15/inios asia 6 conference/5.jpg');">
                  <div class="meta-date text-center p-2">
                    <span class="day">10</span>
                    <span class="mos">December</span>
                    <span class="yr">2014</span>
                  </div>
                </a>
                  <div class="card-header" role="tab" id="peterhead">
                  <h3 class="mb-0">
                    <div class="text bg-white p-4">
                      <h3 class="heading text-center"><a href="#">Inios Asia 6 Conference</a></h3>
                      <div class="d-flex align-items-center mt-4">
                        <p class="mb-0 offset-1"><a  class="collapsed btn btn-primary " data-toggle="collapse" data-target="#peter4">Know about this event<span class="ion-ios-arrow-round-forward"></span></a></p>
                        
                      </div>
                    </div>
                     
              </div>
              <div class="collapse" id="peter4" data-parent="#accordion">
                  <div class="card-body">
                      <p class=" d-sm-block" style="text-align: justify;">Two students, Sinduja.K and Rebecca Solomon from St.Joseph’s College of Engineering OSA Student Chapter attended the IONS ASIA 6 Conference and presented the paper on the topic “Bessel Beams in Optical Communication”. The report given below gives an insight about what happened during the three days conference.The three days conference ended with a visit to Jawaharlal Nehru Museum of Science and Technology at IIT Kharagpur which was a treat to our mind and eyes. A special mention was given our students since they were the only U.G. students who were selected to attend the conference.</p>
                      The 5th of August 2015 saw the Triumph 25- A Year of Light Celebration being organized by the OSA Students Chapter of St. Joseph’s College of Engineering. As many as fourteen schools participated in this enormous event which was conducted in different halls of the Placement block of our College.</p><p>The OSA studentscame out with some out of the box demos, experiments, presentations and videos on various topics such as bending on laser beam, colored shadows, hologram and many more. Also school student's competition conducted with a total of 14 items were presented and demonstrated by the enthusiastic groups of students and the judges showered their praises to the enthusiastic students who participated and rewarded the victorious students with valuable prizes.</p><br>
                      
                  </div>
              </div>
          </div>
          </div>
          </div>
          <div class="col-md-6 col-lg-4 ftco-animate">
            <div id="accordion">
              <div class="card blog-entry">
                <a class="block-20 d-flex align-items-end" style="background-image: url('images/osa photos/14-15/student leadership  conference america/1.jpg');">
                  <div class="meta-date text-center p-2">
                    <span class="day">19</span>
                    <span class="mos">October</span>
                    <span class="yr">2014</span>
                  </div>
                </a>
                  <div class="card-header" role="tab" id="peterhead">
                  <h3 class="mb-0">
                    <div class="text bg-white p-4">
                      <h3 class="heading text-center"><a href="#">Student Leadership Conference</a></h3>
                      <div class="d-flex align-items-center mt-4">
                        <p class="mb-0 offset-1"><a  class="collapsed btn btn-primary " data-toggle="collapse" data-target="#peter5">Know about this event<span class="ion-ios-arrow-round-forward"></span></a></p>
                        
                      </div>
                    </div>
                     
              </div>
              <div class="collapse" id="peter5" data-parent="#accordion">
                  <div class="card-body">
                      <p class=" d-sm-block" style="text-align: justify;">The Optical Society of America (OSA) conducted its Annual Student Leadership Conference for chapter representatives from student chapters across the world on 19th October, 2014 at Tucson, Arizona, USA. On behalf of St.Joseph’s College of Engineering OSA Student Chapter our chapter president Joseph Jos K attended the Leadership Conference. It was a very exclusive event reserved only for active student chapters and the ones in good standing as per OSA norms. Overall around 200 representatives from well reputed institutions across the world attended the event which was held at the JW Marriott Tucson Star Pass Resort and Spa, Arizona.</p>

                  </div>
              </div>
          </div>
          </div>
          </div>
          <div class="col-md-6 col-lg-4 ftco-animate">
            <div id="accordion">
              <div class="card blog-entry">
                <a class="block-20 d-flex align-items-end" style="background-image: url('images/osa photos/14-15/drive/1.jpg');">
                  <div class="meta-date text-center p-2">
                    <span class="day">07</span>
                    <span class="mos">july</span>
                    <span class="yr">2014</span>
                  </div>
                </a>
                  <div class="card-header" role="tab" id="peterhead">
                  <h3 class="mb-0">
                    <div class="text bg-white p-4">
                      <h3 class="heading text-center"><a href="#">Recruitment Drive</a></h3>
                      <div class="d-flex align-items-center mt-4">
                        <p class="mb-0 offset-1"><a  class="collapsed btn btn-primary " data-toggle="collapse" data-target="#peter6">Know about this event<span class="ion-ios-arrow-round-forward"></span></a></p>
                        
                      </div>
                    </div>
                     
              </div>
              <div class="collapse" id="peter6" data-parent="#accordion">
                  <div class="card-body">
                      <p class=" d-sm-block" style="text-align: justify;">St.Joseph’s College of Engineering OSA Student Chapter held its Recruitment Drive for the academic year 2014-2015 on 7th July 2014. The much anticipated event which was held in our Placement Block introduced OSA to around 250 enthusiastic fresher’s.</p>
                      <p>As a result of this wonderful recruitment event,65 new members joined our OSA Student Chapter thus bearing fruit for our hardwork.The fresher’s were convinced about the huge benefits of joining a Student Chapter like OSA and it persuaded them to be a part of this wonderful organisational network. </p>
                       
                  </div>
              </div>
          </div>
          </div>
          </div>
          
        </div>
			</div>
		</section>
		
    <footer class="ftco-footer ftco-bg-dark ftco-section">
			<div class="container">
			  <div class="row mb-5">
				<div class="col-md-6 col-lg-4">
				  <div class="ftco-footer-widget mb-5">
					  <h2 class="ftco-heading-2">Have any Questions?</h2>
					  <div class="block-23 mb-3">
						<ul>
						  <li><span class="icon icon-map-marker"></span><span class="text"><p>Department of ECE <br>St.Joseph's College of Engineering<br>Shollinganallur, Chennai-600119</p></span></li>
						  <li><a href="tel://+91 9841542888"><span class="icon icon-phone"></span><span class="text"><p>+91 9841542888</p></span></a></li>
						  <li><a href="mailto:osasjce@gmail.com"><span class="icon icon-envelope"></span><span class="text"><p>osasjce@gmail.com</p></span></a></li>
						</ul>
					  </div>
				  </div>
				</div>
				<div class="col-md-6 col-lg-4">
				  <div class="ftco-footer-widget mb-5 ml-md-4">
					<h2 class="ftco-heading-2">Links</h2>
					<ul class="list-unstyled">
					  <li><a href="/"><span class="ion-ios-arrow-round-forward mr-2"></span>Home</a></li>
					  <li><a href="/about"><span class="ion-ios-arrow-round-forward mr-2"></span>About</a></li>
					  <li><a href="/events"><span class="ion-ios-arrow-round-forward mr-2"></span>Events</a></li>
					  <li><a href="/office"><span class="ion-ios-arrow-round-forward mr-2"></span>Office Bearers</a></li>
					  <li><a href="/contact"><span class="ion-ios-arrow-round-forward mr-2"></span>Contact</a></li>
					</ul>
				  </div>
				</div>
				<div class="col-md-6 col-lg-4">
				  <div class="ftco-footer-widget mb-5">
					  <h2 class="ftco-heading-2 mb-0">Connect With Us!</h2>
					  <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-3 offset-2">
						<li class="ftco-animate"><a href="https://twitter.com/stjosephsosa"><span class="icon-twitter"></span></a></li>
					  <li class="ftco-animate"><a href="https://instagram.com/osa.sjce?igshid=or4ovunj0v0s"><span class="icon-instagram"></span></a></li>
					</ul>
				  </div>
					</form>
				  </div>
				
				</div>
			  </div>
			  <div class="row">
				<div class="col-md-12 text-center">
	  
				  <p>
		 Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved |  <a href="http://stjosephs.ac.in/" target="_blank">St.Joseph's College of Engineering</a>
				  </p>
				</div>
			  </div>
			</div>
		  </footer>
  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


  <script src="js/jquery.min.js"></script>
  <script src="js/jquery-migrate-3.0.1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.easing.1.3.js"></script>
  <script src="js/jquery.waypoints.min.js"></script>
  <script src="js/jquery.stellar.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/aos.js"></script>
  <script src="js/jquery.animateNumber.min.js"></script>
  <script src="js/scrollax.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
  <script src="js/google-map.js"></script>
  <script src="js/main.js"></script>
    
  </body>
</html>