<!DOCTYPE html>
<html lang="en">
  <head>
    <title>OSA - St.Joseph's College of Engineering</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="css/animate.css">
    
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">

    <link rel="stylesheet" href="css/aos.css">

    <link rel="stylesheet" href="css/ionicons.min.css">
    
    <link rel="stylesheet" href="css/flaticon.css">
    <link rel="stylesheet" href="css/icomoon.css">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <div class="bg-top navbar-light">
    	<div class="container">
    		<div class="row no-gutters d-flex align-items-center align-items-stretch">
    			<div class="col-md-4 d-flex align-items-center py-4">
    				<a class="navbar-brand" href="/">OSA <span>St.Joseph's College of Engineering</span></a>
    			</div>
	    		<div class="col-lg-8 d-block">
		    		<div class="row d-flex">
					    <div class="col-md d-flex topper align-items-center align-items-stretch py-md-4">
					    	<div class="icon d-flex justify-content-center align-items-center"><span class="icon-paper-plane"></span></div>
					    	<div class="text">
					    		<span>Email</span>
						    	<span>osasjce@gmail.com</span>
						    </div>
					    </div>
					    <div class="col-md d-flex topper align-items-center align-items-stretch py-md-4">
					    	<div class="icon d-flex justify-content-center align-items-center"><span class="icon-phone2"></span></div>
						    <div class="text">
						    	<span>Call</span>
						    	<span>Call Us: +91 9841542888</span>
						    </div>
					    </div>
					    <div class="col-md topper d-flex align-items-center justify-content-end">
					    	<p class="mb-0">
					    		<a href="/contact" class="btn py-2 px-3 btn-primary d-flex align-items-center justify-content-center">
					    			<span>Contact us</span>
					    		</a>
					    	</p>
					    </div>
				    </div>
			    </div>
		    </div>
		  </div>
    </div>
	  <nav class="navbar navbar-expand-lg navbar-dark bg-dark ftco-navbar-light" id="ftco-navbar">
	    <div class="container d-flex align-items-center px-4">
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="oi oi-menu"></span> Menu
	      </button>
	    
	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav mr-auto">
	        	<li class="nav-item "><a href="/" class="nav-link pl-0">Home</a></li>
	        	<li class="nav-item"><a href="/about" class="nav-link">About</a></li>
				<li class="nav-item active"><a href="/events" class="nav-link">Events</a></li>
	        	<li class="nav-item"><a href="/office" class="nav-link">Office Bearers</a></li>
	          <li class="nav-item"><a href="/contact" class="nav-link">Contact</a></li>
	        </ul>
	      </div>
	    </div>
	  </nav>
    <!-- END nav -->
    
    <section class="hero-wrap hero-wrap-2" style="background-image: url('images/image_6.jpg');">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-2 bread">Events</h1>
            <h3 class="mb-2 bread">2019-20</h3>
            <p class="breadcrumbs"><span class="mr-2"><a href="/events">Events <i class="ion-ios-arrow-forward"></i></a></span> <span>2019-20 <i class="ion-ios-arrow-forward"></i></span></p>
          </div>
        </div>
      </div>
    </section>

		
		<section class="ftco-section bg-light">
			<div class="container">
				<div class="row">
          <div class="col-md-6 col-lg-4 ftco-animate">
           
              <div id="accordion">
                <div class="card blog-entry">
                  <a  class="block-20 d-flex align-items-end" style="background-image: url('images/osa photos/19-20/school visit/5.jpg');">
                    <div class="meta-date text-center p-2">
                      <span class="day">10</span>
                      <span class="mos">February</span>
                      <span class="yr">2020</span>
                    </div>
                  </a>
                    <div class="card-header" role="tab" id="peterhead">
                    <h3 class="mb-0">
                      <div class="text bg-white p-4">
                        <h3 class="heading text-center"><a href="#">School Visit</a></h3>
                        <div class="d-flex align-items-center mt-4">
                          <p class="mb-0 offset-1"><a  class="collapsed btn btn-primary " data-toggle="collapse" data-target="#peter1">Know about this event<span class="ion-ios-arrow-round-forward"></span></a></p>
                          
                        </div>
                      </div>
                       
                </div>
                <div class="collapse" id="peter1" data-parent="#accordion">
                    <div class="card-body">
                        <p class=" d-sm-block" style="text-align: justify;">The St. Joseph’s College of Engineering OSA Student Chapter organized
                          the School Visit for the year 2019-20 on 10 th February 2020 as part of the
                          Community Outreach programme. This event was held at the Vana Vani
                          Matriculation Higher Secondary School, IIT, Chennai. A little over 30 OSA
                          members took part in this event and made it a success.
                          
                          The agenda for this event was as follows:
                          ● Introduction
                          
                          ● Presidents Talk on OSA
                          ● Interactive Sessions
                          ● Project Demonstration
                          ● Conclusion</p>      
                    </div>
                </div>
            </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 ftco-animate">
            <div id="accordion">
              <div class="card blog-entry">
                <a class="block-20 d-flex align-items-end" style="background-image: url('images/osa photos/19-20/sympo/we.jpg');">
                  <div class="meta-date text-center p-2">
                    <span class="day">21</span>
                    <span class="mos">September</span>
                    <span class="yr">2019</span>
                  </div>
                </a>
                  <div class="card-header" role="tab" id="peterhead">
                  <h3 class="mb-0">
                    <div class="text bg-white p-4">
                      <h3 class="heading text-center"><a href="#">Symposium</a></h3>
                      <div class="d-flex align-items-center mt-4">
                        <p class="mb-0 offset-1"><a  class="collapsed btn btn-primary " data-toggle="collapse" data-target="#peter2">Know about this event<span class="ion-ios-arrow-round-forward"></span></a></p>
                        
                      </div>
                    </div>
                     
              </div>
              <div class="collapse" id="peter2" data-parent="#accordion">
                  <div class="card-body">
                      <p class=" d-sm-block" style="text-align: justify;">The Student Chapter of Optical Society of America (OSA), St. Joseph’s College of
                        Engineering, achieved a big breakthrough when it successfully conducted an
                        event in the inter-college level symposium known as INTRIGUE (ENGIMA 2.0)
                        where students from various colleges in and around Chennai were given the
                        privilege to participate. The event was held on the 21th of September,2019 within
                        the college premises, amidst the cheers and participation of enthusiastic
                        participants</p>      
                  </div>
              </div>
          </div>
          </div>
          </div>
          <div class="col-md-6 col-lg-4 ftco-animate">
            <div id="accordion">
              <div class="card blog-entry">
                <a  class="block-20 d-flex align-items-end" style="background-image: url('images/osa photos/19-20/school fest/3.png');">
                  <div class="meta-date text-center p-2">
                    <span class="day">03</span>
                    <span class="mos">Augest</span>
                    <span class="yr">2019</span>
                  </div>
                </a>
                  <div class="card-header" role="tab" id="peterhead">
                  <h3 class="mb-0">
                    <div class="text bg-white p-4">
                      <h3 class="heading text-center"><a href="#">School Fest</a></h3>
                      <div class="d-flex align-items-center mt-4">
                        <p class="mb-0 offset-1"><a  class="collapsed btn btn-primary " data-toggle="collapse" data-target="#peter3">Know about this event<span class="ion-ios-arrow-round-forward"></span></a></p>
                        
                      </div>
                    </div>
                     
              </div>
              <div class="collapse" id="peter3" data-parent="#accordion">
                  <div class="card-body">
                      <p class=" d-sm-block" style="text-align: justify;">The Department of Electronics and Communication Engineering, St. Joseph’s College of
                        Engineering, OMR, Chennai-119 in association with the Optical Society of America student chapter
                        
                        organized a State Level Project Fest ELIXIR 2K-19 on August 3 rd 2019.It was inaugurated by our
                        respected Chairman Dr. B. Babu Manoharan Managing Director Mrs. S. Jessie Priya in the
                        presence of Principal Dr.Vaddi Seshagiri Rao and Dean Research Dr B. Parvarthavardhini.This
                          event had four domains named as Electronic Science, Robotics, Environmental Science, Social and
                          Biology Science.It was open to all schools in and around Tamil Nadu from 8 th Std. to 12 th Std., Cash
                            Prize up to 1 lakh and merit certificates was awarded to all the winners. The event was made a grand
                              success with the help of the management,office bearers& OSA members.</p>      
                  </div>
              </div>
          </div>
          </div>
          </div>

          <div class="col-md-6 col-lg-4 ftco-animate">
            <div id="accordion">
              <div class="card blog-entry">
                <a  class="block-20 d-flex align-items-end" style="background-image: url('images/osa photos/19-20/workshop/2.jpg');">
                  <div class="meta-date text-center p-2">
                    <span class="day">18</span>
                    <span class="mos">March</span>
                    <span class="yr">2020</span>
                  </div>
                </a>
                  <div class="card-header" role="tab" id="peterhead">
                  <h3 class="mb-0">
                    <div class="text bg-white p-4">
                      <h3 class="heading text-center"><a href="#">Workshop</a></h3>
                      <div class="d-flex align-items-center mt-4">
                        <p class="mb-0 offset-1"><a  class="collapsed btn btn-primary " data-toggle="collapse" data-target="#peter4">Know about this event<span class="ion-ios-arrow-round-forward"></span></a></p>
                        
                      </div>
                    </div>
                     
              </div>
              <div class="collapse" id="peter4" data-parent="#accordion">
                  <div class="card-body">
                      <p class=" d-sm-block" style="text-align: justify;">The St.Joseph’s College Of Engineering in association with the Optical Society of
                        America Student chapter has organised a Workshop on GNSS on 18 th of March
                        2020.The event was held in our college campus with the help of OSA members
                        and our department staff members and the event was made grand success.
                        Contents:
                        ● Welcome speech
                        ● Introduction to GNSS
                        ● Working and application of GNSS
                        ● Questions and Queries
                        ● Vote of thanks</p>      
                  </div>
              </div>
          </div>
          </div>
          </div>
          <div class="col-md-6 col-lg-4 ftco-animate">
            <div id="accordion">
              <div class="card blog-entry">
                <a  class="block-20 d-flex align-items-end" style="background-image: url('images/osa photos/19-20/sludent leadership conference america/4.jpg');">
                  <div class="meta-date text-center p-2">
                    <span class="day">13</span>
                    <span class="mos">September</span>
                    <span class="yr">2019</span>
                  </div>
                </a>
                  <div class="card-header" role="tab" id="peterhead">
                  <h3 class="mb-0">
                    <div class="text bg-white p-4">
                      <h3 class="heading text-center"><a href="#">Student Leadership Conference</a></h3>
                      <div class="d-flex align-items-center mt-4">
                        <p class="mb-0 offset-1"><a  class="collapsed btn btn-primary " data-toggle="collapse" data-target="#peter5">Know about this event<span class="ion-ios-arrow-round-forward"></span></a></p>
                        
                      </div>
                    </div>
                     
              </div>
              <div class="collapse" id="peter5" data-parent="#accordion">
                  <div class="card-body">
                      <p class=" d-sm-block" style="text-align: justify;">The OSA leadership conference 2019
                        which brings together student chapter members from around the globe each year
                        to network with their peers and to learn more about successful chapter
                        management and careers in optics and photonics.The
                        event also serves as a forum for student leaders to grow their networks and
                        exchange new ideas for continued personal and professional success as well as
                        best practices for driving their chapters forward.On behalf of St.Joseph’s College of Engineering OSA Student Chapter our Chapter President PRESHANTH A R attended the Leadership Conference. The event commenced on
                        September 13 th  where around 200 students from 44 countries representing their
                        student chapters participated</p>      
                  </div>
              </div>
          </div>
          </div>
          </div>
          <div class="col-md-6 col-lg-4 ftco-animate">
            <div id="accordion">
              <div class="card blog-entry">
                <a  class="block-20 d-flex align-items-end" style="background-image: url('images/osa photos/19-20/tech drove/2.png');">
                  <div class="meta-date text-center p-2">
                    <span class="day">05</span>
                    <span class="mos">December</span>
                    <span class="yr">2019</span>
                  </div>
                </a>
                  <div class="card-header" role="tab" id="peterhead">
                  <h3 class="mb-0">
                    <div class="text bg-white p-4">
                      <h3 class="heading text-center"><a href="#">Tech Drove 2.0</a></h3>
                      <div class="d-flex align-items-center mt-4">
                        <p class="mb-0 offset-1"><a  class="collapsed btn btn-primary " data-toggle="collapse" data-target="#peter6">Know about this event<span class="ion-ios-arrow-round-forward"></span></a></p>
                        
                      </div>
                    </div>
                     
              </div>
              <div class="collapse" id="peter6" data-parent="#accordion">
                  <div class="card-body">
                      <p class="d-sm-block" style="text-align: justify;">The Optical Society of America St. Joseph’s College of Engineering
                        Student Chapter conducted an Intra Chapter Event on 5th December 2019 on
                        our college premises. The event was aimed to integrate the 2nd year recruits
                        into the chapter and give them a firsthand experience.
                        The Intra Chapter event began with welcoming the 2nd year recruits and
                        briefing them about the past chapter activities. The recruits were also made
                        aware of the upcoming events. The event commenced with the Dr.B.Vasudevan
                        welcoming the recruits. The event was aimed at helping the recruits develop
                        relationships with the senior members of the chapter..</p>      
                  </div>
              </div>
          </div>
          </div>
			</div>
		</section>
		
    <footer class="ftco-footer ftco-bg-dark ftco-section">
			<div class="container">
			  <div class="row mb-5">
				<div class="col-md-6 col-lg-4">
				  <div class="ftco-footer-widget mb-5">
					  <h2 class="ftco-heading-2">Have any Questions?</h2>
					  <div class="block-23 mb-3">
						<ul>
						  <li><span class="icon icon-map-marker"></span><span class="text"><p>Department of ECE <br>St.Joseph's College of Engineering<br>Shollinganallur, Chennai-600119</p></span></li>
						  <li><a href="tel://+91 9841542888"><span class="icon icon-phone"></span><span class="text"><p>+91 9841542888</p></span></a></li>
						  <li><a href="mailto:osasjce@gmail.com"><span class="icon icon-envelope"></span><span class="text"><p>osasjce@gmail.com</p></span></a></li>
						</ul>
					  </div>
				  </div>
				</div>
				<div class="col-md-6 col-lg-4">
				  <div class="ftco-footer-widget mb-5 ml-md-4">
					<h2 class="ftco-heading-2">Links</h2>
					<ul class="list-unstyled">
					  <li><a href="/"><span class="ion-ios-arrow-round-forward mr-2"></span>Home</a></li>
					  <li><a href="/about"><span class="ion-ios-arrow-round-forward mr-2"></span>About</a></li>
					  <li><a href="/events"><span class="ion-ios-arrow-round-forward mr-2"></span>Events</a></li>
					  <li><a href="/office"><span class="ion-ios-arrow-round-forward mr-2"></span>Office Bearers</a></li>
					  <li><a href="/contact"><span class="ion-ios-arrow-round-forward mr-2"></span>Contact</a></li>
					</ul>
				  </div>
				</div>
				<div class="col-md-6 col-lg-4">
				  <div class="ftco-footer-widget mb-5">
					  <h2 class="ftco-heading-2 mb-0">Connect With Us!</h2>
					  <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-3 offset-2">
						<li class="ftco-animate"><a href="https://twitter.com/stjosephsosa"><span class="icon-twitter"></span></a></li>
					  <li class="ftco-animate"><a href="https://instagram.com/osa.sjce?igshid=or4ovunj0v0s"><span class="icon-instagram"></span></a></li>
					</ul>
				  </div>
					</form>
				  </div>
				
				</div>
			  </div>
			  <div class="row">
				<div class="col-md-12 text-center">
	  
				  <p>
		 Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved |  <a href="http://stjosephs.ac.in/" target="_blank">St.Joseph's College of Engineering</a>
				  </p>
				</div>
			  </div>
			</div>
		  </footer>
  

  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


  <script src="js/jquery.min.js"></script>
  <script src="js/jquery-migrate-3.0.1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.easing.1.3.js"></script>
  <script src="js/jquery.waypoints.min.js"></script>
  <script src="js/jquery.stellar.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/aos.js"></script>
  <script src="js/jquery.animateNumber.min.js"></script>
  <script src="js/scrollax.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
  <script src="js/google-map.js"></script>
  <script src="js/main.js"></script>
    
  </body>
</html>