<!DOCTYPE html>
<html lang="en">
  <head>
    <title>OSA - St.Joseph's College of Engineering</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="css/animate.css">
    
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">

    <link rel="stylesheet" href="css/aos.css">

    <link rel="stylesheet" href="css/ionicons.min.css">
    
    <link rel="stylesheet" href="css/flaticon.css">
    <link rel="stylesheet" href="css/icomoon.css">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <div class="bg-top navbar-light">
    	<div class="container">
    		<div class="row no-gutters d-flex align-items-center align-items-stretch">
    			<div class="col-md-4 d-flex align-items-center py-4">
    				<a class="navbar-brand" href="/">OSA <span>St.Joseph's College of Engineering</span></a>
    			</div>
	    		<div class="col-lg-8 d-block">
		    		<div class="row d-flex">
					    <div class="col-md d-flex topper align-items-center align-items-stretch py-md-4">
					    	<div class="icon d-flex justify-content-center align-items-center"><span class="icon-paper-plane"></span></div>
					    	<div class="text">
					    		<span>Email</span>
						    	<span>osasjce@gmail.com</span>
						    </div>
					    </div>
					    <div class="col-md d-flex topper align-items-center align-items-stretch py-md-4">
					    	<div class="icon d-flex justify-content-center align-items-center"><span class="icon-phone2"></span></div>
						    <div class="text">
						    	<span>Call</span>
						    	<span>Call Us: +91 9841542888</span>
						    </div>
					    </div>
					    <div class="col-md topper d-flex align-items-center justify-content-end">
					    	<p class="mb-0">
					    		<a href="/contact" class="btn py-2 px-3 btn-primary d-flex align-items-center justify-content-center">
					    			<span>Contact us</span>
					    		</a>
					    	</p>
					    </div>
				    </div>
			    </div>
		    </div>
		  </div>
    </div>
	  <nav class="navbar navbar-expand-lg navbar-dark bg-dark ftco-navbar-light" id="ftco-navbar">
	    <div class="container d-flex align-items-center px-4">
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="oi oi-menu"></span> Menu
	      </button>
	      <!-- <form action="#" class="searchform order-lg-last">
          <div class="form-group d-flex">
            <input type="text" class="form-control pl-3" placeholder="Search">
            <button type="submit" placeholder="" class="form-control search"><span class="ion-ios-search"></span></button>
          </div>
        </form> -->
	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav mr-auto">
	        	<li class="nav-item "><a href="/" class="nav-link pl-0">Home</a></li>
	        	<li class="nav-item"><a href="/about" class="nav-link">About</a></li>
				<!-- <li class="nav-item"><a href="courses.html" class="nav-link">Courses</a></li> -->
				<li class="nav-item active"><a href="/events" class="nav-link">Events</a></li>
	        	<li class="nav-item"><a href="/office" class="nav-link">Office Bearers</a></li>
	          <li class="nav-item"><a href="/contact" class="nav-link">Contact</a></li>
	        </ul>
	      </div>
	    </div>
	  </nav>
    <!-- END nav -->
    
    <section class="hero-wrap hero-wrap-2" style="background-image: url('images/image_6.jpg');">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-2 bread">Events</h1>
            <h3 class="mb-2 bread">2016-17</h3>
            <p class="breadcrumbs"><span class="mr-2"><a href="/events">Events <i class="ion-ios-arrow-forward"></i></a></span> <span>2016-17 <i class="ion-ios-arrow-forward"></i></span></p>
          </div>
        </div>
      </div>
    </section>

		
		<section class="ftco-section bg-light">
			<div class="container">
				<div class="row">
         
          <div class="col-md-6 col-lg-4 ftco-animate">
            <div id="accordion">
              <div class="card blog-entry">
                <a  class="block-20 d-flex align-items-end" style="background-image: url('images/osa photos/16-17/quiz (same dpt)/Picture8.jpg');">
                  <div class="meta-date text-center p-2">
                    <span class="day">27</span>
                    <span class="mos">January</span>
                    <span class="yr">2017</span>
                  </div>
                </a>
                  <div class="card-header" role="tab" id="peterhead">
                  <h3 class="mb-0">
                    <div class="text bg-white p-4">
                      <h3 class="heading text-center"><a href="#">Intra Chapter Event</a></h3>
                      <div class="d-flex align-items-center mt-4">
                        <p class="mb-0 offset-1"><a  class="collapsed btn btn-primary " data-toggle="collapse" data-target="#peter1">Know about this event<span class="ion-ios-arrow-round-forward"></span></a></p>
                        
                      </div>
                    </div>
                     
              </div>
              <div class="collapse" id="peter1" data-parent="#accordion">
                  <div class="card-body">
                      <p class=" d-sm-block" style="text-align: justify;">St. Joseph’s College of Engineering OSA Student Chapter organized an
                        intra chapter Optical Competition for all its members on 27 th January 2017. This
                        event was organized as a way to bring together the chapter for an afternoon of
                        fun and games, and learn more about Optics.
                        The event began with the normal chapter meeting where the happenings
                        in the Optical world were discussed. Ideas for future events were put forth and
                        reports on previous ones were submitted. Mr. B. Vasudevan, the Chapter
                        Advisor, then began the competition with a short speech, proceeding which the
                        Chapter President Ms. Cherubina detailed the competition and the two rounds
                        involved.</p>      
                  </div>
              </div>
          </div>
          </div>
          </div>
          <div class="col-md-6 col-lg-4 ftco-animate">
            <div id="accordion">
              <div class="card blog-entry">
                <a  class="block-20 d-flex align-items-end" style="background-image: url('images/osa photos/16-17/school visit/Picture3.jpg');">
                  <div class="meta-date text-center p-2">
                    <span class="day">22</span>
                    <span class="mos">July</span>
                    <span class="yr">2016</span>
                  </div>
                </a>
                  <div class="card-header" role="tab" id="peterhead">
                  <h3 class="mb-0">
                    <div class="text bg-white p-4">
                      <h3 class="heading text-center"><a href="#">School Visit</a></h3>
                      <div class="d-flex align-items-center mt-4">
                        <p class="mb-0 offset-1"><a  class="collapsed btn btn-primary " data-toggle="collapse" data-target="#peter2">Know about this event<span class="ion-ios-arrow-round-forward"></span></a></p>
                        
                      </div>
                    </div>
                     
              </div>
              <div class="collapse" id="peter2" data-parent="#accordion">
                  <div class="card-body">
                      <p class=" d-sm-block" style="text-align: justify;">The St. Joseph’s College of Engineering OSA Student Chapter
                        organised the School Visit for the year 2016-17 on 22 nd July 2016 as a
                        part of the Community Outreach programme. This event was held at
                        the S.B.O.A School and Junior College, Annanagar, Chennai. Around
                        25 OSA members took part in this event and made it a successful one.
                        The event was commenced by the chapter&#39;s Vice President Mr.
                        Anand Raja with a brief introduction about OSA which included the
                        motive of the events conducted by OSA such as Educational Outreach
                        Programs, Workshops, Guest Lectures, Contests, IONS Conferences,
                        Awards and Grants.</p>      
                  </div>
              </div>
          </div>
          </div>
          </div>
          <div class="col-md-6 col-lg-4 ftco-animate">
            <div id="accordion">
              <div class="card blog-entry">
                <a class="block-20 d-flex align-items-end" style="background-image: url('images/osa photos/16-17/2.jpg');">
                  <div class="meta-date text-center p-2">
                    <span class="day">22</span>
                    <span class="mos">September</span>
                    <span class="yr">2016</span>
                  </div>
                </a>
                  <div class="card-header" role="tab" id="peterhead">
                  <h3 class="mb-0">
                    <div class="text bg-white p-4">
                      <h3 class="heading text-center"><a href="#">Symposium</a></h3>
                      <div class="d-flex align-items-center mt-4">
                        <p class="mb-0 offset-1"><a  class="collapsed btn btn-primary " data-toggle="collapse" data-target="#peter3">Know about this event<span class="ion-ios-arrow-round-forward"></span></a></p>
                        
                      </div>
                    </div>
                     
              </div>
              <div class="collapse" id="peter3" data-parent="#accordion">
                  <div class="card-body">
                      <p class=" d-sm-block" style="text-align: justify;">Blazovion 2016 ,

                        It was indeed a very proud day for the members of Optical Society of
                        Amciety conducted its grand annual event on 22/9/16. The event titled
                        “Mystere Incorporado” didn’t fail to garner the attention and participation it
                        was supposed to fetch. The event went on to showcase the bright talents that
                        worked on the event from scratch and an equally talented group of
                        participants who came from colleges all over the city to participate in this
                        eventerica- Student’s chapter, St Joseph’s College of Engineering, as the
                        so.</p>      
                  </div>
              </div>
          </div>
          </div>
          </div>
          <div class="col-md-6 col-lg-4 ftco-animate">
            <div id="accordion">
              <div class="card blog-entry">
                <a class="block-20 d-flex align-items-end" style="background-image: url('images/osa photos/16-17/osa fest/Picture9.jpg');">
                  <div class="meta-date text-center p-2">
                    <span class="day">27</span>
                    <span class="mos"><Fieldset>February</Fieldset></span>
                    <span class="yr">2017</span>
                  </div>
                </a>
                  <div class="card-header" role="tab" id="peterhead">
                  <h3 class="mb-0">
                    <div class="text bg-white p-4">
                      <h3 class="heading text-center"><a href="#">OSA Fest</a></h3>
                      <div class="d-flex align-items-center mt-4">
                        <p class="mb-0 offset-1"><a  class="collapsed btn btn-primary " data-toggle="collapse" data-target="#peter4">Know about this event<span class="ion-ios-arrow-round-forward"></span></a></p>
                        
                      </div>
                    </div>
                     
              </div>
              <div class="collapse" id="peter4" data-parent="#accordion">
                  <div class="card-body">
                      <p class=" d-sm-block" style="text-align: justify;">The Student Chapter of Optical Society of America (OSA), St. Joseph’s
                        College of Engineering, added another feather to its cap, the reason, conducting an
                        inter-college level Optical Fest, where members from other OSA chapters across
                        Tamil Nadu (VIT and IIT- Madras) and also quite a number of engineering
                        colleges in and around Chennai were invited to participate. It was held on the 27th
                        of February, 2017 within the college premises, amidst the cheers and participation
                        of enthusiastic participants</p>      
                  </div>
              </div>
          </div>
          </div>
          </div>
          <div class="col-md-6 col-lg-4 ftco-animate">
            <div id="accordion">
              <div class="card blog-entry">
                <a class="block-20 d-flex align-items-end" style="background-image: url('images/osa photos/16-17/cheru.png');">
                  <div class="meta-date text-center p-2">
                    <span class="day">26</span>
                    <span class="mos">June</span>
                    <span class="yr">2016</span>
                  </div>
                </a>
                  <div class="card-header" role="tab" id="peterhead">
                  <h3 class="mb-0">
                    <div class="text bg-white p-4">
                      <h3 class="heading text-center"><a href="#">Student Leadership Conference</a></h3>
                      <div class="d-flex align-items-center mt-4">
                        <p class="mb-0 offset-1"><a  class="collapsed btn btn-primary " data-toggle="collapse" data-target="#peter5">Know about this event<span class="ion-ios-arrow-round-forward"></span></a></p>
                        
                      </div>
                    </div>
                     
              </div>
              <div class="collapse" id="peter5" data-parent="#accordion">
                  <div class="card-body">
                      <p class=" d-sm-block" style="text-align: justify;">The Optical Society of America (OSA) conducted its Annual Student Leadership Conference for chapter representatives from student chapters across the world on Washington, District of Columbia, USA. On behalf of St.Joseph’s College of Engineering OSA Student Chapter our Chapter President Ms. Cherubina attended the Leadership Conference. It was a very exclusive event reserved only for active student chapters and the ones in good standing as per OSA norms.</p>
   
                  </div>
              </div>
          </div>
          </div>
          </div>
          <div class="col-md-6 col-lg-4 ftco-animate">
            <div id="accordion">
              <div class="card blog-entry">
                <a  class="block-20 d-flex align-items-end" style="background-image: url('images/osa photos/16-17/workshop/Picture5.jpg');">
                  <div class="meta-date text-center p-2">
                    <span class="day">26</span>
                    <span class="mos">July</span>
                    <span class="yr">2016</span>
                  </div>
                </a>
                  <div class="card-header" role="tab" id="peterhead">
                  <h3 class="mb-0">
                    <div class="text bg-white p-4">
                      <h3 class="heading text-center"><a href="#">Workshop</a></h3>
                      <div class="d-flex align-items-center mt-4">
                        <p class="mb-0 offset-1"><a  class="collapsed btn btn-primary " data-toggle="collapse" data-target="#peter6">Know about this event<span class="ion-ios-arrow-round-forward"></span></a></p>
                        
                      </div>
                    </div>
                     
              </div>
              <div class="collapse" id="peter6" data-parent="#accordion">
                  <div class="card-body">
                      <p class=" d-sm-block" style="text-align: justify;">The St.Joseph’s College of Engineering – OSA Student Chapter
                        organized a workshop on Fiber Optic Cable on July 26 th 2016. This event
                        was held at the Electronics and Communication Department laboratory
                        Hall and a total of 70 OSA members and a few interested non-members
                        attended this event.The event was started with the welcome address by our chapter
                        president Ms.Cherubina Daisy. The workshop was on the topic “Optical
                        Fiber Cables” and it was conducted by Apar Industries Pvt. Ltd. Mr. Y.
                        K Gupta, the Senior Vice President of the company was accompanied by
                        two of his co-workers and together they spoke about the latest
                        technologies developed by Apar Industries.The various
                        practical difficulties faced with the manufacture were also explained..</p>      
                  </div>
              </div>
          </div>
          </div>
          </div>
          
        </div>
			</div>
		</section>
		
    <footer class="ftco-footer ftco-bg-dark ftco-section">
      <footer class="ftco-footer ftco-bg-dark ftco-section">
        <div class="container">
          <div class="row mb-5">
          <div class="col-md-6 col-lg-4">
            <div class="ftco-footer-widget mb-5">
              <h2 class="ftco-heading-2">Have any Questions?</h2>
              <div class="block-23 mb-3">
              <ul>
                <li><span class="icon icon-map-marker"></span><span class="text"><p>Department of ECE <br>St.Joseph's College of Engineering<br>Shollinganallur, Chennai-600119</p></span></li>
                <li><a href="tel://+91 9841542888"><span class="icon icon-phone"></span><span class="text"><p>+91 9841542888</p></span></a></li>
                <li><a href="mailto:osasjce@gmail.com"><span class="icon icon-envelope"></span><span class="text"><p>osasjce@gmail.com</p></span></a></li>
              </ul>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="ftco-footer-widget mb-5 ml-md-4">
            <h2 class="ftco-heading-2">Links</h2>
            <ul class="list-unstyled">
              <li><a href="/"><span class="ion-ios-arrow-round-forward mr-2"></span>Home</a></li>
              <li><a href="/about"><span class="ion-ios-arrow-round-forward mr-2"></span>About</a></li>
              <li><a href="/events"><span class="ion-ios-arrow-round-forward mr-2"></span>Events</a></li>
              <li><a href="/office"><span class="ion-ios-arrow-round-forward mr-2"></span>Office Bearers</a></li>
              <li><a href="/contact"><span class="ion-ios-arrow-round-forward mr-2"></span>Contact</a></li>
            </ul>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="ftco-footer-widget mb-5">
              <h2 class="ftco-heading-2 mb-0">Connect With Us!</h2>
              <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-3 offset-2">
              <li class="ftco-animate"><a href="https://twitter.com/stjosephsosa"><span class="icon-twitter"></span></a></li>
              <li class="ftco-animate"><a href="https://instagram.com/osa.sjce?igshid=or4ovunj0v0s"><span class="icon-instagram"></span></a></li>
            </ul>
            </div>
            </form>
            </div>
           
          </div>
          </div>
          <div class="row">
          <div class="col-md-12 text-center">
      
            <p>
       Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved |  <a href="http://stjosephs.ac.in/" target="_blank">St.Joseph's College of Engineering</a>
            </p>
          </div>
          </div>
        </div>
        </footer>
  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


  <script src="js/jquery.min.js"></script>
  <script src="js/jquery-migrate-3.0.1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.easing.1.3.js"></script>
  <script src="js/jquery.waypoints.min.js"></script>
  <script src="js/jquery.stellar.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/aos.js"></script>
  <script src="js/jquery.animateNumber.min.js"></script>
  <script src="js/scrollax.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
  <script src="js/google-map.js"></script>
  <script src="js/main.js"></script>
    
  </body>
</html>