<!DOCTYPE html>
<html lang="en">
  <head>
    <title>OSA - St.Joseph's College of Engineering</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="css/animate.css">
    
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">

    <link rel="stylesheet" href="css/aos.css">

    <link rel="stylesheet" href="css/ionicons.min.css">
    
    <link rel="stylesheet" href="css/flaticon.css">
    <link rel="stylesheet" href="css/icomoon.css">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <div class="bg-top navbar-light">
    	<div class="container">
    		<div class="row no-gutters d-flex align-items-center align-items-stretch">
    			<div class="col-md-4 d-flex align-items-center py-4">
    				<a class="navbar-brand" href="/">OSA <span>St.Joseph's College of Engineering</span></a>
    			</div>
	    		<div class="col-lg-8 d-block">
		    		<div class="row d-flex">
					    <div class="col-md d-flex topper align-items-center align-items-stretch py-md-4">
					    	<div class="icon d-flex justify-content-center align-items-center"><span class="icon-paper-plane"></span></div>
					    	<div class="text">
					    		<span>Email</span>
						    	<span>osasjce@gmail.com</span>
						    </div>
					    </div>
					    <div class="col-md d-flex topper align-items-center align-items-stretch py-md-4">
					    	<div class="icon d-flex justify-content-center align-items-center"><span class="icon-phone2"></span></div>
						    <div class="text">
						    	<span>Call</span>
						    	<span>Call Us:+91 9841542888</span>
						    </div>
					    </div>
					    <div class="col-md topper d-flex align-items-center justify-content-end">
					    	<p class="mb-0">
					    		<a href="/contact" class="btn py-2 px-3 btn-primary d-flex align-items-center justify-content-center">
					    			<span>Contact us</span>
					    		</a>
					    	</p>
					    </div>
				    </div>
			    </div>
		    </div>
		  </div>
    </div>
	  <nav class="navbar navbar-expand-lg navbar-dark bg-dark ftco-navbar-light" id="ftco-navbar">
	    <div class="container d-flex align-items-center px-4">
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="oi oi-menu"></span> Menu
	      </button>
	     
	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav mr-auto">
	        	<li class="nav-item "><a href="/" class="nav-link pl-0">Home</a></li>
	        	<li class="nav-item"><a href="/about" class="nav-link">About</a></li>
				<li class="nav-item active"><a href="/events" class="nav-link">Events</a></li>
	        	<li class="nav-item"><a href="/office" class="nav-link">Office Bearers</a></li>
	          <li class="nav-item"><a href="/contact" class="nav-link">Contact</a></li>
	        </ul>
	      </div>
	    </div>
	  </nav>
    <!-- END nav -->
    
    <section class="hero-wrap hero-wrap-2" style="background-image: url('images/image_6.jpg');">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-2 bread">Events</h1>
            <h3 class="mb-2 bread">2018-19</h3>
            <p class="breadcrumbs"><span class="mr-2"><a href="/events">Events<i class="ion-ios-arrow-forward"></i></a></span> <span>Teacher <i class="ion-ios-arrow-forward"></i></span></p>
          </div>
        </div>
      </div>
    </section>

		
		<section class="ftco-section bg-light">
			<div class="container">
				<div class="row">
          <div class="col-md-6 col-lg-4 ftco-animate">
            <div id="accordion">
              <div class="card blog-entry">
                <a class="block-20 d-flex align-items-end" style="background-image: url('images/osa photos/18-19/enigma/3.jpg');">
                  <div class="meta-date text-center p-2">
                    <span class="day">20</span>
                    <span class="mos">October</span>
                    <span class="yr">2018</span>
                  </div>
                </a>
                  <div class="card-header" role="tab" id="peterhead">
                  <h3 class="mb-0">
                    <div class="text bg-white p-4">
                      <h3 class="heading text-center"><a href="#">Enigma</a></h3>
                      <div class="d-flex align-items-center mt-4">
                        <p class="mb-0 offset-1"><a  class="collapsed btn btn-primary " data-toggle="collapse" data-target="#peterh">Know about this event<span class="ion-ios-arrow-round-forward"></span></a></p>
                        
                      </div>
                    </div>
                     
              </div>
              <div class="collapse" id="peterh" data-parent="#accordion">
                  <div class="card-body">
                      <p class=" d-sm-block" style="text-align: justify;">Our Student Chapter achieved a big breakthrough when it successfully conducted an event in the inter-college level symposium known as Enigma where students from various colleges in and around Chennai were given the privilege to participate.The entire event was very informative with each round consisting of technical questions based on optics in different ways. It gave everyone, both the organisers and the participants an opportunity to both learn and enjoy at the same time.</p>
                      </p>      
                  </div>
              </div>
          </div>
          </div>
          </div>
          <div class="col-md-6 col-lg-4 ftco-animate">
            <div id="accordion">
              <div class="card blog-entry">
                <a class="block-20 d-flex align-items-end" style="background-image: url('images/osa photos/18-19/tech trove/mejoe.jpeg');">
                  <div class="meta-date text-center p-2">
                    <span class="day">13</span>
                    <span class="mos">September</span>
                    <span class="yr">2018</span>
                  </div>
                </a>
                  <div class="card-header" role="tab" id="peterhead">
                  <h3 class="mb-0">
                    <div class="text bg-white p-4">
                      <h3 class="heading text-center"><a href="#">Tech Drove</a></h3>
                      <div class="d-flex align-items-center mt-4">
                        <p class="mb-0 offset-1"><a  class="collapsed btn btn-primary " data-toggle="collapse" data-target="#peterm">Know about this event<span class="ion-ios-arrow-round-forward"></span></a></p>
                        
                      </div>
                    </div>
                     
              </div>
              <div class="collapse" id="peterm" data-parent="#accordion">
                  <div class="card-body">
                      <p class=" d-sm-block" style="text-align: justify;">The Optical Society of America St. Joseph’s College of Engineering Student Chapter conducted an Intra Chapter Event on 13th September 2018 on our college premises.The event was aimed to integrate the 2nd year recruits into the chapter and give them a firsthand experience.The Intra Chapter event began with welcoming the 2nd year recruits and briefing them about the past chapter activities. The recruits were also made aware of the upcoming events. The event commenced with the Dr.B.Vasudevan welcoming the recruits.</p>                
                  </div>
              </div>
          </div>
          </div>
          </div>
          <div class="col-md-6 col-lg-4 ftco-animate">
            <div id="accordion">
              <div class="card blog-entry">
                <a class="block-20 d-flex align-items-end" style="background-image: url('images/osa photos/18-19/school visit 3/Picture4.jpg');">
                  <div class="meta-date text-center p-2">
                    <span class="day">13</span>
                    <span class="mos">July</span>
                    <span class="yr">2018</span>
                  </div>
                </a>
                  <div class="card-header" role="tab" id="peterhead">
                  <h3 class="mb-0">
                    <div class="text bg-white p-4">
                      <h3 class="heading text-center"><a href="#">School Visit</a></h3>
                      <div class="d-flex align-items-center mt-4">
                        <p class="mb-0 offset-1"><a  class="collapsed btn btn-primary " data-toggle="collapse" data-target="#peteri">Know about this event<span class="ion-ios-arrow-round-forward"></span></a></p>
                        
                      </div>
                    </div>
                     
              </div>
              <div class="collapse" id="peteri" data-parent="#accordion">
                  <div class="card-body">
                      <p class=" d-sm-block" style="text-align: justify;">A little over 30 OSA members took part in this event and made it a success.</p><p>The entire event went for roughly about 5 hours for the 800 students gathered. Time seemed to fly by as each team visited the demo sessions and they were given explanations of the concepts involved , with their queries being answered by the chapter members , making them understand the scope of optics in modern day world , their applications , where they are used.                    </p>      
                  </div>
              </div>
          </div>
          </div>
          </div>
          <div class="col-md-6 col-lg-4 ftco-animate">
            <div id="accordion">
              <div class="card blog-entry">
                <a class="block-20 d-flex align-items-end" style="background-image: url('images/osa photos/18-19/project fest/Picture16.jpg');">
                  <div class="meta-date text-center p-2">
                    <span class="day">12</span>
                    <span class="mos">January</span>
                    <span class="yr">2019</span>
                  </div>
                </a>
                  <div class="card-header" role="tab" id="peterhead">
                  <h3 class="mb-0">
                    <div class="text bg-white p-4">
                      <h3 class="heading text-center"><a href="#">Project Fest</a></h3>
                      <div class="d-flex align-items-center mt-4">
                        <p class="mb-0 offset-1"><a  class="collapsed btn btn-primary " data-toggle="collapse" data-target="#peterj">Know about this event<span class="ion-ios-arrow-round-forward"></span></a></p>
                        
                      </div>
                    </div>
                     
              </div>
              <div class="collapse" id="peterj" data-parent="#accordion">
                  <div class="card-body">
                      <p class=" d-sm-block" style="text-align: justify;">Our Student Chapter hosted an intra-school project fest where several presentations and demonstrations followed in interesting topis like Virtual Reality, Augmented Reality and Temperature of shadows etc. </p><p>applications of the above mentioned topics were explained in detail by the respective team members.The fest was concluded with the prize distribution session where the prize winners were awarded with certificates and cash prizes.</p>
                  </div>
              </div>
          </div>
          </div>
          </div>
          <div class="col-md-6 col-lg-4 ftco-animate">
            <div id="accordion">
              <div class="card blog-entry">
                <a class="block-20 d-flex align-items-end" style="background-image: url('images/osa photos/18-19/sympo/Picture12.jpg');">
                  <div class="meta-date text-center p-2">
                    <span class="day">22</span>
                    <span class="mos">February</span>
                    <span class="yr">2019</span>
                  </div>
                </a>
                  <div class="card-header" role="tab" id="peterhead">
                  <h3 class="mb-0">
                    <div class="text bg-white p-4">
                      <h3 class="heading text-center"><a href="#">School Fest</a></h3>
                      <div class="d-flex align-items-center mt-4">
                        <p class="mb-0 offset-1"><a  class="collapsed btn btn-primary " data-toggle="collapse" data-target="#peterl">Know about this event<span class="ion-ios-arrow-round-forward"></span></a></p>
                        
                      </div>
                    </div>
                     
              </div>
              <div class="collapse" id="peterl" data-parent="#accordion">
                  <div class="card-body">
                      <p class=" d-sm-block" style="text-align: justify;">Our Student Chapter organised the School Visit  as part of the Community Outreach program. This event was held at the St.Micheal’s Academy School, Adayar. A little over 30 OSA members took part in this event and made it a success.
                        Several topics such as traffic light systems, augmented reality, optic sensors demonstration, etc. Each group spent considerable time listening to our members explain their projects and were quite pleased. Each batch was divided into two groups with one half having an interactive session while the remaining students went for the demonstration.
                      </p>      
                  </div>
              </div>
          </div>
          </div>
          </div>
          
          <div class="col-md-6 col-lg-4 ftco-animate">
            <div id="accordion">
              <div class="card blog-entry">
                <a class="block-20 d-flex align-items-end" style="background-image: url('images/osa photos/18-19/recrutement drive/Picture7.jpg');">
                  <div class="meta-date text-center p-2">
                    <span class="day">26</span>
                    <span class="mos">June</span>
                    <span class="yr">2019</span>
                  </div>
                </a>
                  <div class="card-header" role="tab" id="peterhead">
                  <h3 class="mb-0">
                    <div class="text bg-white p-4">
                      <h3 class="heading text-center"><a href="#">Recruitment Drive</a></h3>
                      <div class="d-flex align-items-center mt-4">
                        <p class="mb-0 offset-1"><a  class="collapsed btn btn-primary " data-toggle="collapse" data-target="#petern">Know about this event<span class="ion-ios-arrow-round-forward"></span></a></p>
                        
                      </div>
                    </div>
                     
              </div>
              <div class="collapse" id="petern" data-parent="#accordion">
                  <div class="card-body">
                      <p class=" d-sm-block" style="text-align: justify;">St.Joseph’s College of Engineering OSA Student Chapter held its Recruitment Drive for the academic year 2018-2019 on 14th Augest 2018. The much anticipated event which was held in our Basil Hall,Placement

                        Block,introduced OSA to around 85 enthusiastic fresher’s.
      
                      As a result of this wonderful recruitment event,45 new members joined our OSA Student Chapter thus bearing fruit for our hardwork.The fresher’s were convinced about the huge benefits of joining a Student Chapter like OSA and it persuaded them to be a part of this wonderful organisational network..</p>      
                  </div>
              </div>
          </div>
          </div>
          </div>
          
        </div>
			</div>
		</section>
		
    <footer class="ftco-footer ftco-bg-dark ftco-section">
			<div class="container">
			  <div class="row mb-5">
				<div class="col-md-6 col-lg-4">
				  <div class="ftco-footer-widget mb-5">
					  <h2 class="ftco-heading-2">Have any Questions?</h2>
					  <div class="block-23 mb-3">
						<ul>
						  <li><span class="icon icon-map-marker"></span><span class="text"><p>Department of ECE <br>St.Joseph's College of Engineering<br>Shollinganallur, Chennai-600119</p></span></li>
						  <li><a href="tel://+91 9841542888"><span class="icon icon-phone"></span><span class="text"><p>+91 9841542888</p></span></a></li>
						  <li><a href="mailto:osasjce@gmail.com"><span class="icon icon-envelope"></span><span class="text"><p>osasjce@gmail.com</p></span></a></li>
						</ul>
					  </div>
				  </div>
				</div>
				<div class="col-md-6 col-lg-4">
				  <div class="ftco-footer-widget mb-5 ml-md-4">
					<h2 class="ftco-heading-2">Links</h2>
					<ul class="list-unstyled">
					  <li><a href="/"><span class="ion-ios-arrow-round-forward mr-2"></span>Home</a></li>
					  <li><a href="/about"><span class="ion-ios-arrow-round-forward mr-2"></span>About</a></li>
					  <li><a href="/events"><span class="ion-ios-arrow-round-forward mr-2"></span>Events</a></li>
					  <li><a href="/office"><span class="ion-ios-arrow-round-forward mr-2"></span>Office Bearers</a></li>
					  <li><a href="/contact"><span class="ion-ios-arrow-round-forward mr-2"></span>Contact</a></li>
					</ul>
				  </div>
				</div>
				<div class="col-md-6 col-lg-4">
				  <div class="ftco-footer-widget mb-5">
					  <h2 class="ftco-heading-2 mb-0">Connect With Us!</h2>
					  <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-3 offset-2">
						<li class="ftco-animate"><a href="https://twitter.com/stjosephsosa"><span class="icon-twitter"></span></a></li>
					  <li class="ftco-animate"><a href="https://instagram.com/osa.sjce?igshid=or4ovunj0v0s"><span class="icon-instagram"></span></a></li>
					</ul>
				  </div>
					</form>
				  </div>
				 
				</div>
			  </div>
			  <div class="row">
				<div class="col-md-12 text-center">
	  
				  <p>
		 Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved |  <a href="http://stjosephs.ac.in/" target="_blank">St.Joseph's College of Engineering</a>
				  </p>
				</div>
			  </div>
			</div>
		  </footer>
  

  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


  <script src="js/jquery.min.js"></script>
  <script src="js/jquery-migrate-3.0.1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.easing.1.3.js"></script>
  <script src="js/jquery.waypoints.min.js"></script>
  <script src="js/jquery.stellar.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/aos.js"></script>
  <script src="js/jquery.animateNumber.min.js"></script>
  <script src="js/scrollax.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
  <script src="js/google-map.js"></script>
  <script src="js/main.js"></script>
    
  </body>
</html>