<!DOCTYPE html>
<html lang="en">
  <head>
    <title>OSA - St.Joseph's College of Engineering</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="css/animate.css">
    
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">

    <link rel="stylesheet" href="css/aos.css">

    <link rel="stylesheet" href="css/ionicons.min.css">
    
    <link rel="stylesheet" href="css/flaticon.css">
    <link rel="stylesheet" href="css/icomoon.css">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <div class="bg-top navbar-light">
    	<div class="container">
    		<div class="row no-gutters d-flex align-items-center align-items-stretch">
    			<div class="col-md-4 d-flex align-items-center py-4">
    				<a class="navbar-brand" href="/">OSA <span>St.Joseph's College of Engineering</span></a>
    			</div>
	    		<div class="col-lg-8 d-block">
		    		<div class="row d-flex">
					    <div class="col-md d-flex topper align-items-center align-items-stretch py-md-4">
					    	<div class="icon d-flex justify-content-center align-items-center"><span class="icon-paper-plane"></span></div>
					    	<div class="text">
					    		<span>Email</span>
						    	<span>osasjce@gmail.com</span>
						    </div>
					    </div>
					    <div class="col-md d-flex topper align-items-center align-items-stretch py-md-4">
					    	<div class="icon d-flex justify-content-center align-items-center"><span class="icon-phone2"></span></div>
						    <div class="text">
						    	<span>Call</span>
						    	<span>Call Us: +91 9841542888</span>
						    </div>
					    </div>
					    <div class="col-md topper d-flex align-items-center justify-content-end">
					    	<p class="mb-0">
					    		<a href="/contact" class="btn py-2 px-3 btn-primary d-flex align-items-center justify-content-center">
					    			<span>Contact us</span>
					    		</a>
					    	</p>
					    </div>
				    </div>
			    </div>
		    </div>
		  </div>
    </div>
	  <nav class="navbar navbar-expand-lg navbar-dark bg-dark ftco-navbar-light" id="ftco-navbar">
	    <div class="container d-flex align-items-center px-4">
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="oi oi-menu"></span> Menu
	      </button>
	      <!-- <form action="#" class="searchform order-lg-last">
          <div class="form-group d-flex">
            <input type="text" class="form-control pl-3" placeholder="Search">
            <button type="submit" placeholder="" class="form-control search"><span class="ion-ios-search"></span></button>
          </div>
        </form> -->
	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav mr-auto">
	        	<li class="nav-item "><a href="/" class="nav-link pl-0">Home</a></li>
	        	<li class="nav-item"><a href="/about" class="nav-link">About</a></li>
				<!-- <li class="nav-item"><a href="courses.html" class="nav-link">Courses</a></li> -->
				<li class="nav-item active"><a href="/events" class="nav-link">Events</a></li>
	        	<li class="nav-item"><a href="/office" class="nav-link">Office Bearers</a></li>
	          <li class="nav-item"><a href="/contact" class="nav-link">Contact</a></li>
	        </ul>
	      </div>
	    </div>
	  </nav>
    <!-- END nav -->
    
    <section class="hero-wrap hero-wrap-2" style="background-image: url('images/image_6.jpg');">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-2 bread">Events</h1>
            <h3 class="mb-2 bread">2017-18</h3>
            <p class="breadcrumbs"><span class="mr-2"><a href="/events">Events <i class="ion-ios-arrow-forward"></i></a></span> <span>2017-18 <i class="ion-ios-arrow-forward"></i></span></p>
          </div>
        </div>
      </div>
    </section>

		
		<section class="ftco-section bg-light">
			<div class="container">
				<div class="row">
         
          <div class="col-md-6 col-lg-4 ftco-animate">
            <div id="accordion">
              <div class="card blog-entry">
                <a class="block-20 d-flex align-items-end" style="background-image: url('images/osa photos/16-17/osa fest/Picture9.jpg');">
                  <div class="meta-date text-center p-2">
                    <span class="day">27</span>
                    <span class="mos">February</span>
                    <span class="yr">2017</span>
                  </div>
                </a>
                  <div class="card-header" role="tab" id="peterhead">
                  <h3 class="mb-0">
                    <div class="text bg-white p-4">
                      <h3 class="heading text-center"><a href="#">Optical Fest</a></h3>
                      <div class="d-flex align-items-center mt-4">
                        <p class="mb-0 offset-1"><a  class="collapsed btn btn-primary " data-toggle="collapse" data-target="#peterh">Know about this event<span class="ion-ios-arrow-round-forward"></span></a></p>
                        
                      </div>
                    </div>
                     
              </div>
              <div class="collapse" id="peterh" data-parent="#accordion">
                  <div class="card-body">
                      <p class=" d-sm-block" style="text-align: justify;">The Student Chapter of Optical Society of America (OSA), St. Joseph’s
                        College of Engineering, added another feather to its cap, the reason, conducting an
                        inter-college level Optical Fest, where members from other OSA chapters across
                        Tamil Nadu (VIT and IIT- Madras) and also quite a number of engineering
                        colleges in and around Chennai were invited to participate. It was held on the 27th
                        of February, 2017 within the college premises, amidst the cheers and participation
                        of enthusiastic participants.</p>      
                  </div>
              </div>
          </div>
          </div>
          </div>
          
          <div class="col-md-6 col-lg-4 ftco-animate">
            <div id="accordion">
              <div class="card blog-entry">
                <a class="block-20 d-flex align-items-end" style="background-image: url('images/osa photos/17-18/school visit/3.png');">
                  <div class="meta-date text-center p-2">
                    <span class="day">20</span>
                    <span class="mos">December</span>
                    <span class="yr">2017</span>
                  </div>
                </a>
                  <div class="card-header" role="tab" id="peterhead">
                  <h3 class="mb-0">
                    <div class="text bg-white p-4">
                      <h3 class="heading text-center"><a href="#">School Visit</a></h3>
                      <div class="d-flex align-items-center mt-4">
                        <p class="mb-0 offset-1"><a  class="collapsed btn btn-primary " data-toggle="collapse" data-target="#peterl">Know about this event<span class="ion-ios-arrow-round-forward"></span></a></p>
                        
                      </div>
                    </div>
                     
              </div>
              <div class="collapse" id="peterl" data-parent="#accordion">
                  <div class="card-body">
                      <p class=" d-sm-block" style="text-align: justify;">The St. Joseph’s College of Engineering OSA Student Chapter organised
                        the School Visit for the year 2017-18 on 16​ th February 2018 as part of the
                        Community Outreach programme. This event was held at the Chettinad
                        Vidyashram, Chennai. A little over 30 OSA members took part in this event and
                        made it a success.</p>      
                  </div>
              </div>
          </div>
          </div>
          </div>
          <div class="col-md-6 col-lg-4 ftco-animate">
            <div id="accordion">
              <div class="card blog-entry">
                <a class="block-20 d-flex align-items-end" style="background-image: url('images/osa photos/17-18/project fest/2.jpg');">
                  <div class="meta-date text-center p-2">
                    <span class="day">20</span>
                    <span class="mos">October</span>
                    <span class="yr">2018</span>
                  </div>
                </a>
                  <div class="card-header" role="tab" id="peterhead">
                  <h3 class="mb-0">
                    <div class="text bg-white p-4">
                      <h3 class="heading text-center"><a href="#">Project Fest</a></h3>
                      <div class="d-flex align-items-center mt-4">
                        <p class="mb-0 offset-1"><a  class="collapsed btn btn-primary " data-toggle="collapse" data-target="#peterj">Know about this event<span class="ion-ios-arrow-round-forward"></span></a></p>
                        
                      </div>
                    </div>
                     
              </div>
              <div class="collapse" id="peterj" data-parent="#accordion">
                  <div class="card-body">
                      <p class=" d-sm-block" style="text-align: justify;">The Optical Society of America student chapter, St.Joseph’s College
                        of Engineering, added another memorable event to its roster by
                        organizing an Intra level Project Fest, where all members of the
                        society actively participated in. The event saw presentations and
                        demonstrations that were a mix of Optics and Electronics.It was held
                        on 20 th December 2017 in the Embedded Laboratory of the ECE
                        Department.</p>      
                  </div>
              </div>
          </div>
          </div>
          </div>
          <div class="col-md-6 col-lg-4 ftco-animate">
            <div id="accordion">
              <div class="card blog-entry">
                <a class="block-20 d-flex align-items-end" style="background-image: url('images/osa photos/17-18/sympo/4.jpg');">
                  <div class="meta-date text-center p-2">
                    <span class="day">09</span>
                    <span class="mos">September</span>
                    <span class="yr">2017</span>
                  </div>
                </a>
                  <div class="card-header" role="tab" id="peterhead">
                  <h3 class="mb-0">
                    <div class="text bg-white p-4">
                      <h3 class="heading text-center"><a href="#">Symposium</a></h3>
                      <div class="d-flex align-items-center mt-4">
                        <p class="mb-0 offset-1"><a  class="collapsed btn btn-primary " data-toggle="collapse" data-target="#peterk">Know about this event<span class="ion-ios-arrow-round-forward"></span></a></p>
                        
                      </div>
                    </div>
                     
              </div>
              <div class="collapse" id="peterk" data-parent="#accordion">
                  <div class="card-body">
                      <p class=" d-sm-block" style="text-align: justify;"> The Student Chapter of Optical Society of America (OSA), St. Joseph’s College
                        of Engineering, crossed another milestone when it successfully conducted an
                        event in the inter-college level symposium titled “Endeavour” where students
                        from various colleges in and around Chennai were given the privilege to
                        participate. The event was held on the 09 th of September,2017 within the college
                        premises, amidst the cheers and participation of enthusiastic participants. </p>      
                  </div>
              </div>
          </div>
          </div>
          </div>
          <div class="col-md-6 col-lg-4 ftco-animate">
            <div id="accordion">
              <div class="card blog-entry">
                <a class="block-20 d-flex align-items-end" style="background-image: url('images/osa photos/17-18/project fest/2.jpg');">
                  <div class="meta-date text-center p-2">
                    <span class="day">17</span>
                    <span class="mos">September</span>
                    <span class="yr">2017</span>
                  </div>
                </a>
                  <div class="card-header" role="tab" id="peterhead">
                  <h3 class="mb-0">
                    <div class="text bg-white p-4">
                      <h3 class="heading text-center"><a href="#">Student Leadership Conference</a></h3>
                      <div class="d-flex align-items-center mt-4">
                        <p class="mb-0 offset-1"><a  class="collapsed btn btn-primary " data-toggle="collapse" data-target="#peteri">Know about this event<span class="ion-ios-arrow-round-forward"></span></a></p>
                        
                      </div>
                    </div>
                     
              </div>
              <div class="collapse" id="peteri" data-parent="#accordion">
                  <div class="card-body">
                      <p class=" d-sm-block" style="text-align: justify;">Student Leadership Conference - The Optical Society of America (OSA) conducted its Annual Student Leadership Conference for chapter representatives from student chapters across the world onWashington, District
                          of Columbia, USA. On behalf of St.Joseph’s College of Engineering OSA Student Chapter our Chapter President M.J. Anand Raja attended the Leadership Conference. It was a very exclusive event reserved only for active student chapters and the ones in good standing as per OSA norms.</p>
                        </div>
              </div>
          </div>
          </div>
          </div>
          <div class="col-md-6 col-lg-4 ftco-animate">
            <div id="accordion">
              <div class="card blog-entry">
                <a class="block-20 d-flex align-items-end" style="background-image: url('images/osa photos/14-15/drive/2.jpg');">
                  <div class="meta-date text-center p-2">
                    <span class="day">04</span>
                    <span class="mos">Augest</span>
                    <span class="yr">2017</span>
                  </div>
                </a>
                  <div class="card-header" role="tab" id="peterhead">
                  <h3 class="mb-0">
                    <div class="text bg-white p-4">
                      <h3 class="heading text-center"><a href="#">Recruitment Drive</a></h3>
                      <div class="d-flex align-items-center mt-4">
                        <p class="mb-0 offset-1"><a  class="collapsed btn btn-primary " data-toggle="collapse" data-target="#peterm">Know about this event<span class="ion-ios-arrow-round-forward"></span></a></p>
                        
                      </div>
                    </div>
                     
              </div>
              <div class="collapse" id="peterm" data-parent="#accordion">
                  <div class="card-body">
                      <p class=" d-sm-block" style="text-align: justify;"> St.Joseph’s College of Engineering OSA Student Chapter held its Recruitment Drive for the academic year 2017-2018 on 4th Augest 2017. The much anticipated event which was held in our Basil Hall,Placement

                        Block,introduced OSA to around 110 enthusiastic fresher’s.
      
                        As a result of this wonderful recruitment event,40 new members joined our OSA Student Chapter thus bearing fruit for our hardwork.The fresher’s were convinced about the huge benefits of joining a Student Chapter like OSA and it persuaded them to be a part of this wonderful organisational network.</p>
                           
                  </div>
              </div>
          </div>
          </div>
          </div>
          
          
        </div>
			</div>
		</section>
		
		
    <footer class="ftco-footer ftco-bg-dark ftco-section">
			<div class="container">
			  <div class="row mb-5">
				<div class="col-md-6 col-lg-4">
				  <div class="ftco-footer-widget mb-5">
					  <h2 class="ftco-heading-2">Have any Questions?</h2>
					  <div class="block-23 mb-3">
						<ul>
						  <li><span class="icon icon-map-marker"></span><span class="text"><p>Department of ECE <br>St.Joseph's College of Engineering<br>Shollinganallur, Chennai-600119</p></span></li>
						  <li><a href="tel://+91 9841542888"><span class="icon icon-phone"></span><span class="text"><p>+91 9841542888</p></span></a></li>
						  <li><a href="mailto:osasjce@gmail.com"><span class="icon icon-envelope"></span><span class="text"><p>osasjce@gmail.com</p></span></a></li>
						</ul>
					  </div>
				  </div>
				</div>
				<div class="col-md-6 col-lg-4">
				  <div class="ftco-footer-widget mb-5 ml-md-4">
					<h2 class="ftco-heading-2">Links</h2>
					<ul class="list-unstyled">
					  <li><a href="/"><span class="ion-ios-arrow-round-forward mr-2"></span>Home</a></li>
					  <li><a href="/about"><span class="ion-ios-arrow-round-forward mr-2"></span>About</a></li>
					  <li><a href="/events"><span class="ion-ios-arrow-round-forward mr-2"></span>Events</a></li>
					  <li><a href="/office"><span class="ion-ios-arrow-round-forward mr-2"></span>Office Bearers</a></li>
					  <li><a href="/contact"><span class="ion-ios-arrow-round-forward mr-2"></span>Contact</a></li>
					</ul>
				  </div>
				</div>
				<div class="col-md-6 col-lg-4">
				  <div class="ftco-footer-widget mb-5">
					  <h2 class="ftco-heading-2 mb-0">Connect With Us!</h2>
					  <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-3 offset-2">
						<li class="ftco-animate"><a href="https://twitter.com/stjosephsosa"><span class="icon-twitter"></span></a></li>
					   <!-- <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>   -->
					  <li class="ftco-animate"><a href="https://instagram.com/osa.sjce?igshid=or4ovunj0v0s"><span class="icon-instagram"></span></a></li>
					  <!-- <li ><a href="#"></span></a></li> -->
					</ul>
				  </div>
					</form>
				  </div>
				  <!-- <div class="ftco-footer-widget mb-5">
					  <h2 class="ftco-heading-2 mb-0">Connect With Us</h2>
					  <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-3">
					  <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
					  <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
					  <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
					</ul>
				  </div> -->
				</div>
			  </div>
			  <div class="row">
				<div class="col-md-12 text-center">
	  
				  <p>
		 Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved |  <a href="http://stjosephs.ac.in/" target="_blank">St.Joseph's College of Engineering</a>
				  </p>
				</div>
			  </div>
			</div>
		  </footer>
  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


  <script src="js/jquery.min.js"></script>
  <script src="js/jquery-migrate-3.0.1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.easing.1.3.js"></script>
  <script src="js/jquery.waypoints.min.js"></script>
  <script src="js/jquery.stellar.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/aos.js"></script>
  <script src="js/jquery.animateNumber.min.js"></script>
  <script src="js/scrollax.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
  <script src="js/google-map.js"></script>
  <script src="js/main.js"></script>
    
  </body>
</html>