<!DOCTYPE html>
<html lang="en">
  <head>
    <title>OSA - St.Joseph's College of Engineering</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="css/animate.css">
    
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">

    <link rel="stylesheet" href="css/aos.css">

    <link rel="stylesheet" href="css/ionicons.min.css">
    
    <link rel="stylesheet" href="css/flaticon.css">
    <link rel="stylesheet" href="css/icomoon.css">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
	  <div class="bg-top navbar-light">
    	<div class="container">
    		<div class="row no-gutters d-flex align-items-center align-items-stretch">
    			<div class="col-md-4 d-flex align-items-center py-4">
    				<a class="navbar-brand" href="/">OSA <span>St.Joseph's College of Engineering</span></a>
    			</div>
	    		<div class="col-lg-8 d-block">
		    		<div class="row d-flex">
					    <div class="col-md d-flex topper align-items-center align-items-stretch py-md-4">
					    	<div class="icon d-flex justify-content-center align-items-center"><span class="icon-paper-plane"></span></div>
					    	<div class="text">
					    		<span>Email</span>
						    	<span>osasjce@gmail.com</span>
						    </div>
					    </div>
					    <div class="col-md d-flex topper align-items-center align-items-stretch py-md-4">
					    	<div class="icon d-flex justify-content-center align-items-center"><span class="icon-phone2"></span></div>
						    <div class="text">
						    	<span>Call</span>
						    	<span>Call Us: +91 9841542888</span>
						    </div>
					    </div>
					    <div class="col-md topper d-flex align-items-center justify-content-end">
					    	<p class="mb-0">
					    		<a href="/contact" class="btn py-2 px-3 btn-primary d-flex align-items-center justify-content-center">
					    			<span>Contact us</span>
					    		</a>
					    	</p>
					    </div>
				    </div>
			    </div>
		    </div>
		  </div>
    </div>
	  <nav class="navbar navbar-expand-lg navbar-dark bg-dark ftco-navbar-light" id="ftco-navbar">
	    <div class="container d-flex align-items-center px-4">
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="oi oi-menu"></span> Menu
	      </button>
	      <!-- <form action="#" class="searchform order-lg-last">
          <div class="form-group d-flex">
            <input type="text" class="form-control pl-3" placeholder="Search">
            <button type="submit" placeholder="" class="form-control search"><span class="ion-ios-search"></span></button>
          </div>
        </form> -->
	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav mr-auto">
	        	<li class="nav-item active"><a href="/" class="nav-link pl-0">Home</a></li>
	        	<li class="nav-item"><a href="/about" class="nav-link">About</a></li>
				<!-- <li class="nav-item"><a href="courses.html" class="nav-link">Courses</a></li> -->
				<li class="nav-item"><a href="/events" class="nav-link">Events</a></li>
	        	<li class="nav-item"><a href="/office" class="nav-link">Office Bearers</a></li>
	          <li class="nav-item"><a href="/contact" class="nav-link">Contact</a></li>
	        </ul>
	      </div>
	    </div>
	  </nav>
    <!-- END nav -->
    
    <section class="home-slider owl-carousel hero-wrap hero-wrap-2">
      <div class="slider-item" style="background-image:url(images/slider_background.jpg);">
      	<div class="overlay"></div>
        <div class="container">
          <div class="row no-gutters slider-text align-items-center justify-content-start" data-scrollax-parent="true">
          <div class="col-md-6 ftco-animate">
            <h1 class="mb-4">OPTICAL SOCIETY OF AMERICA</h1>
            <p style="text-align: justify;">Education is the most powerful weapon which you can use to change the world.</p>
            <p><a onclick="document.getElementById('fo').scrollIntoView()" class="btn btn-primary px-4 py-3 mt-3">Our Management</a></p>
          </div>
        </div>
        </div>
      </div>

      <div class="slider-item" style="background-image:url(images/teachers_background.jpg);">
      	<div class="overlay"></div>
        <div class="container">
          <div class="row no-gutters slider-text align-items-center justify-content-start" data-scrollax-parent="true">
          <div class="col-md-6 ftco-animate">
            <h1 class="mb-4">OSA SJCE</h1>
            <p style="text-align: justify;">Education is an admirable thing, but it is well to remember from time to time that nothing that is worth knowing can be taught.</p>
            <p><a  class="btn btn-primary px-4 py-3 mt-3" onclick="document.getElementById('fo').scrollIntoView()" >Our Management</a></p>
          </div>
        </div>
        </div>
      </div>
    </section>

   
		
		<section class="ftco-section ftco-no-pt ftc-no-pb">
			<div class="container">
				<div class="row d-flex">
					<!-- <div class="col-md-5 order-md-last wrap-about wrap-about d-flex align-items-stretch">
						<div class="img" style="background-image: url(images/about.jpg); border"></div>
					</div> -->
					<div class="col-lg-12 wrap-about py-5 pr-md-4 ftco-animate">
          	<h2 class="mb-4 " style="text-align: center;">What We Offer</h2>
						<p class="text-center">The road to success and the road to failure are almost the same , So You Choose , We  Do it</p>
						<div class="row mt-5">
							<div class="col-lg-6">
								<div class="services-2 d-flex">
									<div class="icon mt-2 d-flex justify-content-center align-items-center"><span class="flaticon-security"></span></div>
									<div class="text pl-3">
										<h3>Project Fests</h3>
										<p style="text-align: justify;">We the students of OSA student chapter make innovative projects and
                      display them in our college during the project fests.</p>
									</div>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="services-2 d-flex">
									<div class="icon mt-2 d-flex justify-content-center align-items-center"><span class="flaticon-jigsaw"></span></div>
									<div class="text pl-3">
										<h3>Symposium</h3>
										<p style="text-align: justify;">During the symposium we conduct many technical events in our college
                      such as quiz, paper presentation, mini projects, and give away exciting prizes to the winners.</p>
									</div>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="services-2 d-flex">
									<div class="icon mt-2 d-flex justify-content-center align-items-center"><span class="flaticon-education"></span></div>
									<div class="text pl-3">
										<h3>School Visits</h3>
										<p style="text-align: justify;">Innovative mini projects are made by us and it is ensured that it reaches
                      the school students in a way to enlighten their interest towards
                      creative project making.</p>
									</div>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="services-2 d-flex">
									<div class="icon mt-2 d-flex justify-content-center align-items-center"><span class="flaticon-jigsaw"></span></div>
									<div class="text pl-3">
										<h3>Intra-College Events</h3>
										<p style="text-align: justify;"> Many technical events our conducted in the intra college events as like quiz, paper presentation, mini projects, and give away exciting cash prizes to the winners.</p>
									</div>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="services-2 d-flex">
									<div class="icon mt-2 d-flex justify-content-center align-items-center"><span class="flaticon-reading"></span></div>
									<div class="text pl-3">
										<h3>Student Leadership Conference</h3>
										<p style="text-align: justify;">The Student leadership Conference is an immersive experience which hosts 200 student chapter members from around the world.It serves an environment full of professional development content and  networking.</p>
									</div>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="services-2 d-flex">
									<div class="icon mt-2 d-flex justify-content-center align-items-center"><span class="flaticon-diploma"></span></div>
									<div class="text pl-3">
										<h3>OSA Membership</h3>
										<p style="text-align: justify;"> OSA members are scientists, engineers, academicians, business leaders, or other professionals with an interest in optics and photonics.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
    <section class="ftco-services ftco-no-pb">
			<div class="container-wrap">
				<div class="row no-gutters">
          <div class="col-md-3 d-flex services align-self-stretch py-5 px-4 ftco-animate bg-primary">
            <div class="media block-6 d-block text-center">
              <div class="icon d-flex justify-content-center align-items-center">
            		<span class="flaticon-teacher"></span>
              </div>
              <div class="media-body p-2 mt-3">
                <h3 class="heading">Certified Students</h3>
                <p>OSA members shall recieve certificate as a membership of this honoured student chapter.</p>
              </div>
            </div>      
          </div>
          <div class="col-md-3 d-flex services align-self-stretch py-5 px-4 ftco-animate bg-darken">
            <div class="media block-6 d-block text-center">
              <div class="icon d-flex justify-content-center align-items-center">
            		<span class="flaticon-reading"></span>
              </div>
              <div class="media-body p-2 mt-3">
                <h3 class="heading">Special Grants</h3>
                <p>OSA student chapter of America encourage us by providing special grants each year for the events that we have succesfully conducted.</p>
              </div>
            </div>    
          </div>
          <div class="col-md-3 d-flex services align-self-stretch py-5 px-4 ftco-animate bg-primary">
            <div class="media block-6 d-block text-center">
              <div class="icon d-flex justify-content-center align-items-center">
            		<span class="flaticon-books"></span>
              </div>
              <div class="media-body p-2 mt-3">
                <h3 class="heading">Books &amp; Magazines</h3>
                <p>OSA members recieve Books&Magazines under the topic of "Optical physics" for every month.</p>
              </div>
            </div>      
          </div>
          <div class="col-md-3 d-flex services align-self-stretch py-5 px-4 ftco-animate bg-darken">
            <div class="media block-6 d-block text-center">
              <div class="icon d-flex justify-content-center align-items-center">
            		<span class="flaticon-diploma"></span>
              </div>
              <div class="media-body p-2 mt-3">
                <h3 class="heading">Membership</h3>
                <p>OSA supports the next generation of researchers and engineers. Students pay just $10 USD per year for the membership .</p>
              </div>
            </div>      
          </div>
        </div>
			</div>
		</section>

	

		<section class="ftco-section testimony-section " id="fo">
      <div class="container" >
        <div class="row justify-content-center mb-5 pb-2">
          <div class="col-md-8 text-center heading-section ftco-animate">
            <h2 class="mb-4">Our Management</h2>
            <p>Management is, above all, a practice where art, science, and craft meet</p>
          </div>
        </div>
        <div class="row ftco-animate justify-content-center">
          <div class="col-md-12">
            <div class="carousel-testimony owl-carousel">
              <div class="item">
                <div class="testimony-wrap d-flex">
                  <div class="user-img mr-4" style="background-image: url(images/chairman.jpg)">
                  </div>
                  <div class="text ml-2">
                  	<span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                    <p class="name">Dr. B. Babu Manoharan</p>
                      <p>M.A.,MBA.,Ph.D</p>
                      
                     <p class="position"> Chairman</p>
                    <!-- <p class="name">Mr.Babu Manoharan</p>
                    <span class="position">Chairman</span> -->
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap d-flex">
                  <div class="user-img mr-4" style="background-image: url(images/md.jpg)">
                  </div>
                  <div class="text ml-2">
                  	<span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                    <p class="name">Mrs.S.Jessie Priya</p>
                      <p>M.Com</p>
                     <p class="position">Managing Director</p>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap d-flex">
                  <div class="user-img mr-4" style="background-image: url(images/director.jpg)">
                  </div>
                  <div class="text ml-2">
                  	<span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                    <p class="name">Mr.B.Shashi Sekar</p>
                      <p> M.Sc.,INTL.Business</p>
                     <p class="position">Director</p>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap d-flex">
                  <div class="user-img mr-4" style="background-image: url(images/princi.jpg)">
                  </div>
                  <div class="text ml-2">
                  	<span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                    <p class="name">Dr.Vaddi Seshagiri Rao
                      </p>
                      <p>M.E.,M.B.A., Ph.D</p>
                      
                     <p class="position"> Principal</p>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap d-flex">
                  <div class="user-img mr-4" style="background-image: url('images/osa photos/16-17/16.jpg')">
                  </div>
                  <div class="text ml-2">
                  	<span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                    <p class="name">Dr.B. PARVATHAVARTHINI
                    </p>
                    <p>M.E.,M.B.A., Ph.D</p>
                    
                   <p class="position">Dean (Research)</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

		<section class="ftco-gallery">
    	<div class="container-wrap">
    		<div class="row no-gutters">
					<div class="col-md-3 ftco-animate">
						<a href="images/osa photos/19-20/school visit/5.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url('images/osa photos/19-20/school visit/5.jpg');">
							<!-- <div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-instagram"></span>
    					</div> -->
						</a>
					</div>
					<div class="col-md-3 ftco-animate">
						<a href="images/osa photos/18-19/school visit2/4.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url('images/osa photos/18-19/school visit2/4.jpg');">
							<!-- <div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-instagram"></span>
    					</div> -->
						</a>
					</div>
					<div class="col-md-3 ftco-animate">
						<a href="images/osa photos/17-18/sympo/4.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url('images/osa photos/17-18/sympo/4.jpg');">
							<!-- <div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-instagram"></span>
    					</div> -->
						</a>
					</div>
					<div class="col-md-3 ftco-animate">
						<a href="images/osa photos/14-15/school visit/1.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url('images/osa photos/14-15/school visit/1.jpg');">
							<!-- <div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-instagram"></span>
    					</div> -->
						</a>
					</div>
        </div>
    	</div>
    </section>

		
    <footer class="ftco-footer ftco-bg-dark ftco-section">
			<div class="container">
			  <div class="row mb-5">
				<div class="col-md-6 col-lg-4">
				  <div class="ftco-footer-widget mb-5">
					  <h2 class="ftco-heading-2">Have any Questions?</h2>
					  <div class="block-23 mb-3">
						<ul>
						  <li><span class="icon icon-map-marker"></span><span class="text"><p>Department of ECE <br>St.Joseph's College of Engineering<br>Shollinganallur, Chennai-600119</p></span></li>
						  <li><a href="tel://+91 9841542888"><span class="icon icon-phone"></span><span class="text"><p>+91 9841542888</p></span></a></li>
						  <li><a href="mailto:osasjce@gmail.com"><span class="icon icon-envelope"></span><span class="text"><p>osasjce@gmail.com</p></span></a></li>
						</ul>
					  </div>
				  </div>
				</div>
				<div class="col-md-6 col-lg-4">
				  <div class="ftco-footer-widget mb-5 ml-md-4">
					<h2 class="ftco-heading-2">Links</h2>
					<ul class="list-unstyled">
					  <li><a href="/"><span class="ion-ios-arrow-round-forward mr-2"></span>Home</a></li>
					  <li><a href="/about"><span class="ion-ios-arrow-round-forward mr-2"></span>About</a></li>
					  <li><a href="/events"><span class="ion-ios-arrow-round-forward mr-2"></span>Events</a></li>
					  <li><a href="/office"><span class="ion-ios-arrow-round-forward mr-2"></span>Office Bearers</a></li>
					  <li><a href="/contact"><span class="ion-ios-arrow-round-forward mr-2"></span>Contact</a></li>
					</ul>
				  </div>
				</div>
				<div class="col-md-6 col-lg-4">
				  <div class="ftco-footer-widget mb-5">
					  <h2 class="ftco-heading-2 mb-0">Connect With Us!</h2>
					  <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-3 offset-2">
						<li class="ftco-animate"><a href="https://twitter.com/stjosephsosa"><span class="icon-twitter"></span></a></li>
					  <li class="ftco-animate"><a href="https://instagram.com/osa.sjce?igshid=or4ovunj0v0s"><span class="icon-instagram"></span></a></li>
					</ul>
				  </div>
					</form>
				  </div>
				  
				</div>
			  </div>
			  <div class="row">
				<div class="col-md-12 text-center">
	  
				  <p>
		 Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved |  <a href="http://stjosephs.ac.in/" target="_blank">St.Joseph's College of Engineering</a>
				  </p>
				</div>
			  </div>
			</div>
		  </footer>
    
  

  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


  <script src="js/jquery.min.js"></script>
  <script src="js/jquery-migrate-3.0.1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.easing.1.3.js"></script>
  <script src="js/jquery.waypoints.min.js"></script>
  <script src="js/jquery.stellar.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/aos.js"></script>
  <script src="js/jquery.animateNumber.min.js"></script>
  <script src="js/scrollax.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
  <script src="js/google-map.js"></script>
  <script src="js/main.js"></script>
    
  </body>
</html>